body{
background-color: #d8ece9;
}


#svg_container {
  max-width: 500px;
}

#directions_write {
  margin-top: 1rem;
  font-family: Mono;
}

#directions_read {
  margin-top: 3rem;
  margin-bottom: 1rem;
}

#url-read {
  margin-top: 1rem;
  font-family: Mono;
}
